@model IEnumerable<Task02.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>All Products</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Product</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-2">
              
               @*      <div class="card" style="width: 18rem;">
                        <a asp-action="Details" asp-route-id="@product.Id">  <img src="~/images/@product.Image" class="card-img-top" alt="..."> </a>
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            <p class="card-text">Price: <strong>@product.Price</strong></p>
                            <a href="" class="btn btn-primary"> Order By @product.Customer.Name</a>
                        </div>
                    </div> *@
                <partial name="_CardPartial"model="@product" />
                

            </div>
        }
    </div>
</div>

